# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypotheses

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Data
nfl-big-data-bowl-2026-prediction/
/data/
*.csv
*.parquet
submission.csv
inference_plot.png

# Model checkpoints
*.pth
*.pt
*.ckpt
